@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #020617;
    color: #cacaca;
  }
}

.products {
  margin-bottom: 2em;
  min-height: 240px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;
  gap: 24px;
}
